[submodule "third_party/transformers"]
	path = third_party/transformers
	url = https://github.com/huggingface/transformers
[submodule "third_party/OSCAR"]
	path = third_party/OSCAR
	url = https://github.com/FutureMLS-Lab/OSCAR
[submodule "third_party/dflash"]
	path = third_party/dflash
	url = https://github.com/z-lab/dflash
[submodule "third_party/SpecForge"]
	path = third_party/SpecForge
	url = https://github.com/sgl-project/SpecForge
